.square {
  height: 400px;
  width: 400px;
  background-color: red;
  align-content: center;
  padding: 10px;
  margin: 10px;
  color: white;
  border-radius: 10px;
}

.Cards {
  background-color: aqua;
  padding: 10px;
  margin: 10px;
  border-radius: 20px;
}

.Cards3 {
  background-color: aqua;
  padding: 10px;
  margin: 10px;
  height: 200px;
  width: 200px;
  border-radius: 10px;
  color: rgb(255, 0, 0);
}

.cards04{
  display: flex;
  gap: 20px;
  overflow-y: auto;
  scrollbar-width: none;
}